body{
    width: 70%;
    margin: auto;
}
.bloct{
    width: 50%;
    float: left;
}
.bloct h2{
    font-size: 3rem;
    color: #000000;
    font-style: bold;
}
.bloct p{
    width: 80%;
    font: size 1rem;
    line-height: 2;
    color: #9d9d9d;
    text-align: justify;
}
.bloct ul,li{
list-style: none;
left: 12rem;
text-align: left;
margin-bottom: 1rem;
font-size: 1rem;
}
.row{
    width: 50%;
    float: left;
    margin-top: 10rem;
}
.form{
    width: 50%;
    float: left;
    display: inline;
    margin-top: 3.1rem;
}
.text1 input{
    font-size: 1rem;
    width:  20rem;
    height: 2rem;
    border: #000000 solid 0.05rem;
}
.email1 input{
    margin-top: 5rem;
    font-size: 1rem; 
}
.email1 input{
    margin-top: 4rem;
    
     }
.email1 label{
    position: absolute;
    margin-top: 2.7rem;
    
}
.submit {
    margin-top: -7.5rem;
}
.submitting{
    margin-top: 2rem;
    padding-left: -8rem;
}
.text1 label{
 display:block;
 margin:10px 0;


}

.contact{margin-top: 10rem;
    
}